.edit-template2 {
  padding: 40px 0 60px;
  background-color: #f5f5f5;
  position: relative;

section {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 25px;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}
.edit-header__wrap {
  margin: 0 -30px;
  -webkit-box-shadow: 0px 7px 45px 4px #d6d6d6;
  box-shadow: 0px 7px 45px 4px #d6d6d6;
  background: #fff;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.edit-header__wrap--header {
  padding: 0 30px;
  position: relative;
}
.edit-header__wrap--header::before {
  content: "";
  position: absolute;
  border-top: 0px solid #d6d6d6;
  border-bottom: 12px solid #d6d6d6;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  bottom: 0;
  right: 220px;
  opacity: 0;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
}

.topbar {
  padding: 10px 0px;
  border-bottom: 1px solid #dddddd;
}
.topbar .time .fa-home {
  background: #53b9fd;
  font-size: 16px;
  padding: 4px 4px;
  color: #f5f5f5;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin-right: 4px;
}
.topbar .time p {
  margin: 0px;
  padding: 0px;
}

.topbar .welcome {
  position: relative;
  
}
.topbar .welcome p {
  cursor: pointer;
  color: #666;
  font-size: 14px;
  margin: 0px;
  right: 0px;
  padding-right: 24px;
}
.topbar .welcome p:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 9px 5px 1px;
  border-color: #666666 transparent transparent;
  top: 9px;
  right: 0px;
}
.topbar .welcome .popup, .topbar .welcome .popup2 {
  display: none;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  position: absolute;
  width: 180px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  background: #f5f5f5;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  right: 0;
  top: 40px;
  &:after{
    content: '';
    position: absolute;
    border-width: 5px 9px 16px;
    border-style: solid;
    border-color: transparent transparent #f5f5f5;
    top: -21px;
    right: 30px;
  }
  
}
.topbar .welcome .popup ul, .topbar .welcome .popup2 ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.topbar .welcome .popup ul li, .topbar .welcome .popup2 ul li {
  display: block;
  padding: 0px 15px;

}
.topbar .welcome .popup ul li:hover:nth-child(1), .topbar .welcome .popup2 ul li:hover:nth-child(1)
{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background:#c3c3c3;
}
.topbar .welcome .popup ul li:hover:nth-child(2), .topbar .welcome .popup2 ul li:hover:nth-child(2)
{
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background:#c3c3c3;
}
.topbar .welcome .popup ul li a, .topbar .welcome .popup2 ul li a {
  color: #666;
  padding: 7px 0px;
  text-align: left;
  display: block;
}

.test__wrap--header .number-cart {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 30px 0px;
}

.edit-header .contentbar {
  padding: 20px 0 20px;
}

.edit-header__wrap--header::after {
  content: "";
  position: absolute;
  border-top: 0px solid #fff;
  border-bottom: 10px solid #fff;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  bottom: 0;
  right: 222px;
  opacity: 0;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
}
.col33 {
  width: 40%;
  float: left;
}
.col50{
  width: 60%;
  float: left;
  box-sizing: border-box;
  padding-left: 50px;
    input{
      border: none;
      border:1px solid #eae7e7;
      margin-left: 10px;
    }
}
.edit-service__content--input {
  display: inline-block;
  margin: auto;
  font-weight: 600;
  font-size: 12px;
  text-align: center;
}
.edit-header .contentbar .span-title {
  margin-right: 15px;
}
.edit-header .contentbar span {
  line-height: 36px;
  height: 36px;
  vertical-align: middle;
  text-transform: uppercase;
  color: #666666;
  font-size: 12px;
  font-weight: 600;
  display: inline-block;
}
.reporting--margin {
  margin: 0 -30px;
}
.edit-template__ckeditor2 {
  padding: 30px;
  background: #fff;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 7px 45px 3px #d6d6d6;
  box-shadow: 0px 7px 45px 3px #d6d6d6;
  margin-top: 10px;
}

.edit-template__ckeditor2 .reporting__wrap--button {
  padding-bottom: 0;
  padding-top: 35px;
}
.reporting__wrap--button {
  text-align: right;
  padding-right: 35px;
  padding-bottom: 95px;
}
.reporting__wrap--button button {
  background: #53b9fd;
  cursor: pointer;
  color: #fff;
  border: none;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  /* width: 130px; */
  padding: 0 15px;
  height: 45px;
  line-height: 45px;
  vertical-align: middle;
  font-weight: 600;
  outline: none;
}
input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
.reporting__wrap--button button a {
  display: block;
}


.edit-service__content--input select{
  height: 31px;
  width: 200px;
  box-sizing: border-box;
  padding: 0px 10px;
  font-size: 13px;
  color:#666;
  background: #f5f5f5;
}
.edit-status__content input{
  width: 508px;
  box-sizing: border-box;
  padding-left: 7px;
}
.edit-template__result{
  span{
    font-size: 16px;
    font-weight: 400;
    display: block;
    line-height: 31px;
  }
  textarea{
    width: 100%;
    resize: none;
    border:1px solid #d4d4d4;
  }

}
a{
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
}
.col10{
  width: 10%;
  float: left;
}
.col90{
  width: 90%;
  float: left;
}
.note-toolbar.panel-heading{
  position: static!important;
}
.selectize-control {
  width: 320px;
  height: 36px;
}
.selectize-input {
  text-transform: capitalize;
  background: #f5f5f5;
  border: none;
  -webkit-box-shadow: 0px 0px transparent;
  box-shadow: 0px 0px transparent;
  line-height: 36px;
  display: block;
  text-align: left;
  padding: 0px 18px !important;
  background: #f5f5f5;
}

.selectize-dropdown {
  border: 0px solid transparent !important;
}
.contentbar .selectize-dropdown {
  top: 45px !important;
  background: #f5f5f5;
  text-align: left;
  border: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 1000;
}
.selectize-control.single .selectize-input, .selectize-control.single .selectize-input input{
  background: #f5f5f5;
}
.note-editor.note-frame{
  border:none;
  border:1px solid #d4d4d4;
}
.option{
  &:hover{
    background: #53b9fd;
    color:#fff;
  }
}
@media screen and (max-width:1024px){
  .col50{
    width: 60%;
    float: left;
    box-sizing: border-box;
    padding-left: 80px;
      span{
        display: block;
        width: 100%;
      }
      input{
        border: none;
        border:1px solid #d4d4d4;
        margin-left: 0px;
        height: 35px;
        line-height: 35px;
      }
  }
  .edit-status__content input{
    width: 450px;
  }
}
.display {
  display: block !important;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  z-index: 99;
}
}