/node_modules
/public/pdf
/public/hot
/public/storage
/public/templates/docx_report
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
storage
cron-job.bat

